html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Oswald';
    background-color: #fff
}

h1 {
    font-family: 'Montserrat-black';
    line-height: 1.5;
}

.navbar {
    background-color: #fff;
}

.navbar-brand {
    font-family: 'Ubuntu-Black';
    font-weight: bolder;
}

/* Introduction  Section CSS Starts */

#introduction {
    width: 100%;
    min-height: 500px;
    margin: 40px 0 40px 0;
    padding: 100px 0px 100px 0px;
}

/* Introduction Section CSS Ends */


/* About Section CSS Starts */

#about {
    padding: 250px 0px 200px 0px;
    text-align: center;
    color: #fff;
    min-height: 700px;
    background-image: url(https://res.cloudinary.com/tariqalfayad/image/upload/v1555944631/visioncareoptics/hush-naidoo-1157516-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    box-shadow: inset 800px 800px 30px 10px rgba(0, 0, 0, 0.3);
}

/* About Section CSS Ends */


/* Services Section CSS Starts */

#services {
    padding: 60px 30px 60px 30px;
    min-height: 700px;
    color: #fff;
    background-image: url(https://res.cloudinary.com/tariqalfayad/image/upload/v1555940619/visioncareoptics/Stanton-Optical-Split-lamp-test.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    box-shadow: inset 800px 800px 30px 10px rgba(0, 0, 0, 0.6);
}

.services-cls {
    padding-top: 150px;
}

/* Services CSS Ends */

/* Brands | Sunglass CSS Starts */

.sunglases {
    padding: 60px 30px 60px 30px;
    min-height: 700px;
    color: #fff;
    background-image: url(https://res.cloudinary.com/tariqalfayad/image/upload/v1555941067/visioncareoptics/sander-smeekes-18409-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    box-shadow: inset 800px 800px 30px 10px rgba(0, 0, 0, 0.3);
}

.sunglass-cls {
    padding-top: 120px;
}

/* Brands | Sunglass CSS Ends */

/* Brands | Contact Lens CSS Starts */

.contactlens {
    padding: 60px 30px 60px 30px;
    min-height: 700px;
    color: #fff;
    background-image: url(https://res.cloudinary.com/tariqalfayad/image/upload/v1555943588/visioncareoptics/seth-macey-396196-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    box-shadow: inset 800px 800px 30px 10px rgba(0, 0, 0, 0.3);
}

.contactlens-cls {
    padding-top: 120px;
}

/* Brands | Contact Lens CSS Ends */

/* Brands | Eye Glass CSS Starts */

.eyeglass {
    padding: 60px 30px 60px 30px;
    min-height: 700px;
    color: #fff;
    background-image: url(https://res.cloudinary.com/tariqalfayad/image/upload/v1555944766/visioncareoptics/jake-young-168592-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    box-shadow: inset 800px 800px 30px 10px rgba(0, 0, 0, 0.3);
}

.eyeglass-cls {
    padding-top: 120px;
}

/* Brands | Eye Glass CSS Ends */

#page-footer {
    padding-top: 30px;
}

#contact-us a {
    text-decoration: none;
}

img.avatar {
    padding-left: 10px;
    width: 300px;
    margin-bottom: 20px;
}

.container-fluid {
    padding: 0;
}

.google-map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.google-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

hr {
    width: 60%;
}